:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f69e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}

/* Start Box  */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.fw-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

.w-full {
    width: 100%;
}



.h-full {
    height: 100%;
}

.w-fit {
    width: fit-content;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100px;
}

/* End Box  */

/* STart Padding + margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .m-lr-20 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* End Padding + margin */

/* Start Color  */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-blue-alt {
    background-color: var(--blue-alt-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-red-alt {
    background-color: red;
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-gray {
    color: var(--gray-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

/* End Color  */

/* start position  */
.p-relative {
    position: relative;
}

/* end position */

/* STart Font  */
.txt-center {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

.fw-bold {
    font-weight: bold;
}

/* End Font  */

/* Start Border  */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-1-ccc {
    border: 1px solid #ccc;
}

.b-none {
    border: none;
}

.bl-blue {
    border-left-color: var(--blue-color);
}

.bl-green {
    border-left-color: var(--green-color);
}

.bl-orange {
    border-left-color: var(--orange-color);
}

.bl-red {
    border-left-color: var(--red-color);
}

.border-eee {
    border: 1px solid #eee;
}

/* End Border  */

/* Start components  */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End components  */

.over-hidden {
    overflow: hidden;
}

.btn-shap {
    padding: 4px 10px;
    border-radius: 6px;
}


/* Start Mobile  */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .m-lr-mobile {
        margin-left: 10px;
        margin-right: 10px;
    }

    .txt-c-mobile {
        text-align: center;
    }

    .block-mobile {
        display: block;

    }

    .w-full-mobile {
        width: 100%;
    }
}

/* Start Mobile  */
